@media (width < 640px) {
  .question-icon {
    width: 11vw;
    top: 5vw;
    right: 4.6vw;
  }

  .first-background {
    height: 50vh;
  }
  .overlay {
    height: 100%;
  }
  #girlImage {
    top: 65%;
  }
  .eyes {
    top: 55%;
  }

  .second-background {
    height: 70vh;
    background-image: url(../images/block2-mobile.png);
  }
  .paintings {
    flex-direction: column;
    padding: 10vw 10vw;
    height: 80%;
  }
  .image-container {
    width: 50%;
    height: 40%;
    align-self: start;
  }
  .image-container:nth-child(2) {
    align-self: end;
  }
  .mirror:nth-child(1) {
    top: 1vw;
    position: absolute;
  }
  .third-background {
    height: 70vh;
  }
  .hands {
    position: relative;
    flex-direction: column;
    justify-content: end;
    height: 200%;
  }
  .left-hand,
  .right-hand {
    transform: rotate(90deg); /* Поворот на 90 градусов */
    flex: 1;
    width: 100%;
  }
  .right-hand {
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .left-hand {
    z-index: 1;
  }
  .left-hand-inner {
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .hand-button {
    top: 53%;
    left: 40%;
    width: 20vw;
    height: auto;
    transform: rotate(90deg);
  }
  .hand-modal-content {
    width: 50vw;
  }
  .fourth-background {
    height: 50vh;
    background-image: url(../images/block4-mobile.png);
  }
  .puzzle-frame {
    width: 70%;
    top: 7%;
    left: 12%;
  }
  .fifth-background {
    height: 75vh;
    background-image: url(../images/block5-mobile.png);
  }
  .final-image {
    width: 100%;
    height: 50%;
    left: 0;
  }
}
