body {
  margin: 0;
  padding: 0;
  cursor: url(../images/kursor1.svg) 0 0, auto;
}

/* body.clicked {
  cursor: url(../images/kursor2.svg) 35 0, auto;
} */
/* 1 БЛОК */

/* Глаза */
.eyes {
  width: 18.41vw;
  height: 10.41vw;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: calc(42% - 3.86vw);
  top: 28%;
  z-index: -1;
}
.eye {
  position: relative;
  border-radius: 100%;
  width: 7.5vw;
  height: 7.5vw;
  background-color: white;
}
.eye:nth-of-type(1) {
  align-self: flex-end;
}
/* Замените стили для .eye::after на .pupil */
.pupil {
  width: 1.8vw;
  height: 1.8vw;
  background-image: url(../images/zrachok.svg);
  background-size: cover;
  border-radius: 100%;
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: transform 0.1s ease-out;
}

/* Основной контейнер блок 1 */
.container {
  position: relative;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
}

.first-background,
.overlay {
  background-size: cover;
  background-position: center;
}

/* Фоновое изображение блок 1 */
.first-background {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 51.04vw;
  background-image: url(../images/fon1block1.svg);
}

/* девочка */
.overlay {
  width: 100vw;
  height: 51.04vw;
  background-image: url(../images/devochka.svg);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 2 БЛОК */
/* Второй блок с фоновым изображением */
.second-background {
  position: relative;
  width: 100vw;
  height: 66.666vw;
  background-image: url(../images/fonblock2.svg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Контейнер для картин */
.paintings {
  width: 100vw;
  height: 66vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2vw;
}

/* Первая картина */
.painting-1 {
  width: 25.52vw;
  height: 32.81vw;
  background-image: url(../images/zerkalo1f1.svg);
  background-size: cover;
  background-position: center;
}

/* Вторая картина */
.painting-2 {
  width: 23.95vw;
  height: 37.5vw;
  /* transform: translateY(-10vw); */
  /* position: absolute;
  bottom: 500px; */
  align-self: start;
  background-image: url(../images/zerkalo2f1.svg);
  background-size: cover;
  background-position: center;
}

/* Третья картина */
.painting-3 {
  width: 27.6vw;
  height: 33.85vw;
  background-image: url(../images/zerkalo3f1.svg);
  background-size: cover;
  background-position: center;
}
/* 3 БЛОК */
/* Третий блок с фоновым изображением */
.third-background {
  width: 100vw;
  height: 44.42vw;
  background-image: url(../images/fonblock3.svg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Контейнер для рук */
.hands {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Левая рука */
.left-hand {
  width: 75.78vw;
  height: 19.79vw;
  background-image: url(../images/lefthand.svg);
  background-size: cover;
  background-position: center;
}

/* Правая рука */
.right-hand {
  width: 80.93vw;
  height: 19.79vw;
  background-image: url(../images/righthand.svg);
  background-size: cover;
  background-position: center;
}
/* 4 БЛОК */
.fourth-background {
  width: 100vw;
  height: 73.17vw;
  background-image: url(../images/fonblock4.svg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
/* изображение пазла */
.puzzle-image {
  width: 50.5vw;
  height: 43.89vw;
  background-image: url(../images/razbito.svg);
  background-size: cover;
  background-position: center;
}
/* 5 БЛОК */
.fifth-background {
  width: 100vw;
  height: 41.25vw;
  background-image: url(../images/fonblock5.svg);
  background-size: cover;
  background-position: center;
  margin-top: -20.67vw;
}

/* Значок вопроса */
.question-icon {
  position: absolute;
  top: 2.08vw;
  right: 2.6vw;
  width: 2.08vw;
  height: 2.08vw;
  cursor: url(../images/kursor2.svg) 0 0, pointer;
}

.question-icon img {
  width: 100%;
  height: auto;
}

/* Стили для модального окна */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  padding: 1.04vw;
  border-radius: 0.52vw;
  text-align: center;
  position: relative;
  display: block;
  width: 59.37vw;
  height: 43.22vw;
}

/* Кнопка закрытия */
.close {
  position: absolute;
  top: 0.52vw;
  right: 0.78vw;
  font-size: 1.25vw;
  cursor: pointer;
}

@keyframes shake {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(-3deg);
  }

  75% {
    transform: rotate(1.5deg);
  }

  100% {
    transform: rotate(0);
  }
}

.painting.shake {
  animation: shake 0.4s ease-in-out;
}

.left-hand {
  cursor: grab;
}

.left-hand.dragging {
  cursor: grabbing;
}
