body {
  margin: 0;
  padding: 0;
  cursor: url(../images/kursor1.svg) 35 50, auto;
}

body.clicked {
  cursor: url(../images/kursor2.svg) 35 50, auto;
}
/* 1 БЛОК */

/* Глаза */
.eyes {
  width: 18.41vw;
  height: 8.41vw;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: calc(42% - 2.86vw);
  top: 30%;
  z-index: -1;
}
.eye {
  position: relative;
  border-radius: 100%;
  width: 6.5vw;
  height: 6.5vw;
  background-color: white;
}
.eye:nth-of-type(1) {
  align-self: flex-end;
}
.eye::after {
  content: '';
  width: 1.8vw;
  height: 1.8vw;
  background-image: url(../images/zrachok.svg);
  background-size: cover;
  border-radius: 100%;
  position: absolute;
  top: 3vw;
  left: 1vw;
  z-index: 1;
}

/* Основной контейнер блок 1 */
.container {
  position: relative;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
}

.first-background,
.overlay {
  background-size: cover;
  background-position: center;
}

/* Фоновое изображение блок 1 */
.first-background {
  position: relative;
  z-index: -1;
  width: 100vw;
  height: 51.04vw;
  background-image: url(../images/fon1block1.svg);
}

/* девочка */
.overlay {
  width: 100vw;
  height: 51.04vw;
  background-image: url(../images/devochka.svg);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 2 БЛОК */
/* Второй блок с фоновым изображением */
.second-background {
  width: 100vw;
  height: 66.666vw;
  background-image: url(../images/fonblock2.svg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Контейнер для картин */
.paintings {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 2vw;
}

/* Первая картина */
.painting-1 {
  width: 25.52vw;
  height: 32.81vw;
  background-image: url(../images/zerkalo1f1.svg);
  background-size: cover;
  background-position: center;
}

/* Вторая картина */
.painting-2 {
  width: 23.95vw;
  height: 37.5vw;
  transform: translateY(-10vw);
  background-image: url(../images/zerkalo2f1.svg);
  background-size: cover;
  background-position: center;
}

/* Третья картина */
.painting-3 {
  width: 27.6vw;
  height: 33.85vw;
  background-image: url(../images/zerkalo3f1.svg);
  background-size: cover;
  background-position: center;
}
/* 3 БЛОК */
/* Третий блок с фоновым изображением */
.third-background {
  width: 100vw;
  height: 44.42vw;
  background-image: url(../images/fonblock3.svg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Контейнер для рук */
.hands {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
}

/* Левая рука */
.left-hand {
  width: 75.78vw;
  height: 19.79vw;
  background-image: url(../images/lefthand.svg);
  background-size: cover;
  background-position: center;
}

/* Правая рука */
.right-hand {
  width: 80.93vw;
  height: 19.79vw;
  background-image: url(../images/righthand.svg);
  background-size: cover;
  background-position: center;
}
/* 4 БЛОК */
.fourth-background {
  width: 100vw;
  height: 73.17vw;
  background-image: url(../images/fonblock4.svg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
/* изображение пазла */
.puzzle-image {
  width: 50.5vw;
  height: 43.89vw;
  background-image: url(../images/razbito.svg);
  background-size: cover;
  background-position: center;
}
/* 5 БЛОК */
.fifth-background {
  width: 100vw;
  height: 41.25vw;
  background-image: url(../images/fonblock5.svg);
  background-size: cover;
  background-position: center;
  margin-top: -20.67vw;
}
