body {
  margin: 0;
  padding: 0;
  cursor: url(../images/kursor1.svg) 35 50, auto;
}

body.clicked {
  cursor: url(../images/kursor2.svg) 35 50, auto;
}
/* 1 БЛОК */
/* Основной контейнер блок 1 */
.container {
  position: relative;
  width: 100vw;
  height: 162.135vw;
}

/* Фоновое изображение блок 1 */
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 51.04vw;

  background-image: url(../images/fon1block1.svg);
  background-size: cover;
  background-position: center;
}

/* девочка */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 51.04vw;
  background-image: url(../images/devochka.svg);
  background-size: cover;
  background-position: center;
}
/* 2 БЛОК */
/* Второй блок с фоновым изображением */
.second-background {
  position: relative;
  top: 51.04vw;
  /* left: 0; */
  width: 100vw;
  height: 66.666vw;
  background-image: url(../images/fonblock2.svg);
  background-size: cover;
  background-position: center;
}

/* Контейнер для картин */
.paintings {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 2vw;
}

/* Первая картина */
.painting-1 {
  width: 25.52vw;
  height: 32.81vw;
  background-image: url(../images/zerkalo1f1.svg);
  background-size: cover;
  background-position: center;
}

/* Вторая картина */
.painting-2 {
  width: 23.95vw;
  height: 37.5vw;
  background-image: url(../images/zerkalo2f1.svg);
  background-size: cover;
  background-position: center;
}

/* Третья картина */
.painting-3 {
  width: 27.6vw;
  height: 33.85vw;
  background-image: url(../images/zerkalo3f1.svg);
  background-size: cover;
  background-position: center;
}
/* 3 БЛОК */
/* Третий блок с фоновым изображением */
.third-background {
  position: relative;
  top: 117.708vw;
  left: 0;
  width: 100vw;
  height: 44.42vw;
  background-image: url(../images/fonblock3.svg);
  background-size: cover;
  background-position: center;
}

/* Контейнер для рук */
.hands {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
}

/* Левая рука */
.left-hand {
  width: 75.78vw;
  height: 19.79vw;
  background-image: url(../images/lefthand.svg);
  background-size: cover;
  background-position: center;
}

/* Правая рука */
.right-hand {
  width: 80.93vw;
  height: 19.79vw;
  background-image: url(../images/righthand.svg);
  background-size: cover;
  background-position: center;
}
